.gridMassacreDeNanquim {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
}

.gridMassacreDeNanquim img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}