.body {
  background-color: #2B2A2A;
}

.fundoFoto{
  background-image: url("../image/imagemInicio.png");
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;                 
  height: 100vh; 

  position: relative; 
  isolation: isolate
}

.dark-overlay {
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.5); 
  
  z-index: -1; 
}

.titulos {
  margin-top: 200px;   
  text-align: center;  
}

.titulosTexto{
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  font-weight: lighter;
}

.titulosImagens {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
}

.contextoTexto {
  margin-bottom: 100px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  font-weight: lighter;
}

.tituloGuerraSinoJaponesa {
  margin-top: 70px;
  margin-bottom: -20px;
}

.guerraSinoJaponesaTexto1 {
  margin-top: 80px;
  margin-bottom: 70px;
  margin-left: 200px;
  margin-right: 200px;
  font-weight: lighter;
  text-align: justify;
}

.guerraSinoJaponesaTexto2 {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 200px;
  margin-right: 200px;
  font-weight: lighter;
  text-align: justify;
}

.tituloMassacreDeNanquim {
  margin-top: 50px;
}

.massacreDeNanquimTexto {
  margin-top: 50px;
  margin-bottom: 150px;
  margin-left: 200px;
  margin-right: 200px;
  font-weight: lighter;
  text-align: justify;
}


.tituloMulheresDeConforto {
  margin-top: 50px;
}

.massacreDeNanquimTexto2 {
  margin-top: 50px;
  margin-bottom: 150px;
  margin-left: 200px;
  margin-right: 200px;
  font-weight: lighter;
  text-align: justify;
}

.container-separador {
  text-align: center;
  margin: 4rem 0;
}

.linha-decorativa {
  display: inline-block;
  margin-left: 580px;
  width: 400px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.8);
}

