@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Jost:wght@400;700&display=swap');

body{
  --bs-body-bg: rgb(0, 0, 0);
  --bs-body-color: rgb(205, 205, 205);
  --bs-body-font-weight: lighter;
}  

:root {
  font-family: 'Jost', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  
  font-family: 'Bellefair', serif;
}
